@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* Starter CSS for Flyout Menu */

body {
  background: #fff;  /*bg url(http://jsrun.it/assets/p/r/8/X/pr8Xi.png) 1a1a1a 434240  #f8f2e0*/
  color: #da031c;  
  /*#da031c*/
  font-family: 'Source Sans Pro', sans-serif;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li {  
  /*#34495e;*/
  background: #e8e8e8;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}


#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul li {
  float: none;
}

/* Custom CSS Styles */
#cssmenu {
  font-family: 'Lato', sans-serif;
  font-size: 18px;  
  width: 100%;
}
#cssmenu ul a,
#cssmenu ul a:link,
#cssmenu ul a:visited {
  display: block;
  color: #da031c;
  /*#848889; #ed7271*/
  text-decoration: none;
  font-weight: 300;
}
#cssmenu > ul {  
  float: none;
}

#cssmenu > ul > li {
  border-left: 3px solid #000;
  border-bottom: 1px solid #136899;
  
  /*
  d7d8da #34495e*/
}
#cssmenu > ul > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  /*padding-right: 10px;*/
}
#cssmenu > ul > li:hover {
  border-left: 3px solid #ed7271;
}
#cssmenu ul li:hover > a {
  color: #ed7271;
}
#cssmenu > ul > li:hover {
  background: #f6f6f6;
}

body,html
{
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.menu {   
  position: relative;
  width: 100%;
  top: 150px;
  float:left;
}



#content{
    float:left;
  width: 100%;
  position: relative;
  background: #e8e8e8; 
  top: 150px;
  height: 60%;
  font-size: 50px;
  text-align: center;
}